<html>
	<head>
		<title>Carnivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="styles.css"></head>
	</head>
	<body style="background-color: #9000CC;">
		<h1>Killing your first dino didn’t seem bad but now you have no real friends and other dinos avoid you.<br>Being alone you wonder about traveling north were no dinos are.</h1>
		<a href="/death">
			<button type="button">
				<span>Go north</span>
			</button>
		</a>
		<a href="/carn_choice_J">
			<button type="button">
				<span>Go south</span>
			</button>
		</a>
		<a href="/carn_choice_I">
			<button type="button">
				<span>Stay where you are</span>
			</button>
		</a>
	</body>
</html>