<html>
	<head>
		<title>Carnivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="styles.css"></head>
	</head>
	<body style="background-color: #9000CC;">
		<h1>The Achillobator thanks you for not killing him and letting him eat and as the world around you seems to be changing you guys stick close by one another.<br>A meteor shower seems to have started around you, it was so sudden and half your pack is down. What do you do?</h1>
		<a href="/carn_choice_J">
			<button type="button">
				<span>Leave your pack and try to survive alone</span>
			</button>
		</a>
		<a href="/carn_choice_J2">
			<button type="button">
				<span>Save your best friend the Achillobator and leave the others</span>
			</button>
		</a>
		<a href="/death">
			<button type="button">
				<span>Try and save everyone</span>
			</button>
		</a>
	</body>
</html>