<html>
	<head>
		<title>Carnivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="styles.css"></head>
	</head>
	<body style="background-color: #9000CC;">
		<h1>You survive with your best friend and eventually mate and have small lizard kids. Now in this day and age your 10x great grandson sells car insurance.</h1>
		<a href="/">Restart!</a>
	</body>
</html>