<!doctype html>
<html>
<head>
	<title>Dino Game Carnivore Run</title>
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets\styles.css">
</head>
<h1>Dino Game Carnivore Run</h1>
<body style="background-image: url('pics/volcano_game.jpg'); background-color: #FFF; background-size: cover;">
	<canvas id="canvas" width="980px" height="620px" ></canvas>
	<canvas id ="objects" width="980px" height="620px"></canvas>
	<canvas id="rex" width="980px" height="620px" ></canvas>
	<canvas id="score" width="980px" height="620px" ></canvas>
	<script src="javascripts/game_run.js">
	</script>
</body>
</html>