<html>
	<head>
		<title>Carnivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="stylesheets\styles.css"></head>
	</head>
	<body style="background-image: url('pics/carn_meeting.jpg'); background-size: cover;">
		<h1>You eat from the raptor and you guys become good friends. A few years have passed and you guys find other dinos and form a pack with an Aerosteon, known for being air brained, which your friend is but he is very nice and good at hunting.<br>Now you guys are traveling around and see a herd of dinos eating grass, what do you do?</h1>
		<a href="/carn_choice_G">
			<button type="button">
				<span>Attack them!</span>
			</button>
		</a>
		<a href="/carn_death">
			<button type="button" onclick="death()">
				<span>Befriend them!</span>
			</button>
		</a>
		<a href="/carn_choice_E">
			<button type="button">
				<span>Leave them alone</span>
			</button>
		</a>
	</body>
	<script>
	function death() {
		alert("Your kindness towards these vicious dinosaurs angers them, and they kill you within seconds.");
	}
	</script>
</html>