<html>
	<head>
		<title>Carnivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="styles.css"></head>
	</head>
	<body style="background-color: #9000CC;">
		<h1>Many dinos hate your guts and start to pick fights with you and say they will kill you if you don’t leave.</h1>
		<a href="/death">
			<button type="button">
				<span>Stay and fight</span>
			</button>
		</a>
		<a href="/death">
			<button type="button">
				<span>Go north</span>
			</button>
		</a>
		<a href="/carn_choice_J">
			<button type="button">
				<span>Go south</span>
			</button>
		</a>
	</body>
</html>