<html>
	<head>
		<title>Carnivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="styles.css"></head>
	</head>
	<body style="background-color: #9000CC;">
		<h1>Great you have the energy to walk. Lets venture out into the world and meet other dinosaurs.<br>You see a dino in the distance what do you do, he seems very long and is eating a smaller dinosaur, what do you do.</h1>
		<a href="/carn_choice_C">
			<button type="button">
				<span>Say hi to the mysterious Dino!</span>
			</button>
		</a>
		<a href="/death">
			<button type="button">
				<span>Attack Him!</span>
			</button>
		</a>
		<a href="/carn_choice_E">
			<button type="button">
				<span>Steer clear of his way.</span>
			</button>
		</a>
	</body>
</html>