<html>
	<head>
		<title>Carnivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="stylesheets\styles.css"></head>
	</head>
	<body style="background-image: url('pics/choice_J2.jpg'); background-size: cover;">
		<h1>You survive with no injuries and eventually mate and have small lizard kids. Now in this day and age your 10x great grandson sells car insurance.</h1>
		<a href="/">Restart!</a>
	</body>
</html>