<html>
	<head>
		<title>Carnivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="stylesheets\styles.css"></head>
	</head>
	<body style="background-image: url('pics/rex_and_raptors.jpg'); background-size: cover;">
		<h1>The Achillobator a raptor who is also a carnivore, known for being long and quick with sharp claws, doesn’t harm you but instead offers you meat. What will you do?</h1>
		<a href="/carn_eats">
			<button type="button">
				<span>Eat along with him</span>
			</button>
		</a>
		<a href="/carn_choice_F">
			<button type="button">
				<span>Say no and go about your business</span>
			</button>
		</a>
		<a href="/rex_fight">
			<button type="button">
				<span>Kill Him</span>
			</button>
		</a>
	</body>
</html>