<html>
	<head>
		<title>Carnivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="styles.css"></head>
	</head>
	<body style="background-color: #9000CC;">
		<h1>After attacking the herbivores you gain the support of your group and become their king. A few years pass and the temp feels really cold and you find out that the land might freeze over.</h1>
		<a href="carn_/choice_J2">
			<button type="button">
				<span>Gather your friends and head south</span>
			</button>
		</a>
		<a href="/death">
			<button type="button">
				<span>Stick it out</span>
			</button>
		</a>
		<a href="carn_/choice_J">
			<button type="button">
				<span>Head south alone</span>
			</button>
		</a>
	</body>
</html>