<!doctype html>
<html>
	<head>
		<title>Dino Game Carnivore Eats</title>
		<link rel="stylesheet" href="stylesheets/style.css">
	</head>
	<h1>Dino Game Carnivore Eats</h1>
	<body>
		<canvas id="canvas" width="980px" height="620px" ></canvas>
		<canvas id ="objects" width="980px" height="620px"></canvas>
		<canvas id="rex" width="980px" height="620px" ></canvas>
		<canvas id="score" width="980px" height="620px" ></canvas>
		<script src="javascripts/game_eat_C.js"></script>
	</body>
	<audio src = "music\The Flintstones.mp3" preload = "auto" autoplay></audio>
</html>