<html>
	<head>
		<title>Carnivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="stylesheets\styles.css"></head>
	</head>
	<body style="background-image: url('pics/rex_fight_raptor.jpg'); background-size: cover;">
		<h1>Killing your first dino didn’t seem bad but now you have no real friends and other dinos avoid you.<br>Being alone you wonder about traveling north were no dinos are.</h1>
		<a href="/carn_death">
			<button type="button">
				<span>Go north</span>
			</button>
		</a>
		<a href="/carn_run">
			<button type="button">
				<span>Go south</span>
			</button>
		</a>
		<a href="/carn_choice_I">
			<button type="button">
				<span>Stay where you are</span>
			</button>
		</a>
	</body>
</html>