<html>
	<head></head>
	<body style="text-align: center; background-image: url('pics/dead_trex.jpg'); background-size: cover;">
		<h1>You have died a painful death. RIP In Peace my dear Triceratops</h1>
		<a href="/">Restart!</a>
	</body>
</html>