<html>
	<head>
		<title>Carnivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="styles.css"></head>
	</head>
	<body style="background-image: url('TRex.jpg'); background-color: #FFF; background-size: cover;">
		<h1>Hello young one welcome to the world, you are what we call a T-Rex. A meat eating dinosaur and a future king of all dinos. Animals who only eat meat are called carnivores. Here is your first set of choices.</h1>
		<a href="/death">
			<button type="button">
				<span>Try to eat your mother</span>
			</button>
		</a>
		<a href="/carn_choice_B">
			<button type="button">
				<span>Have a walk around</span>
			</button>
		</a>
		<a href="/carn_choice_B">
			<button type="button">
				<span>Take a rest</span>
			</button>
		</a>
	</body>
</html>
