<!doctype html>
<html>
	<head>
		<title>Dino Game Herbivore Eats</title>
		<link rel="stylesheet" href="stylesheets/style.css">
	</head>
	<h1>Dino Game Herbivore Eats</h1>
	<body style="background-image: url('pics/grass_game.jpg'); background-color: #FFF; background-size: cover;">
		<canvas id="canvas" width="980px" height="620px" ></canvas>
		<canvas id ="objects" width="980px" height="620px"></canvas>
		<canvas id="rex" width="980px" height="620px" ></canvas>
		<canvas id="score" width="980px" height="620px" ></canvas>
		<script src="javascripts/game_eat.js"></script>
	</body>
	<audio src = "music\The Flintstones.mp3" preload = "auto" autoplay></audio>
</html>