<html>
	<head>
		<title>Herbivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="stylesheets\styles.css"></head>
	</head>
	<body style="background-image: url('pics/meteor_shower.jpg'); background-size: cover;">
		<h1>After running away to a far off distance, you notice that there is a meteor shower that is starting. What are you going to do?</h1>
		<a href="/herb_run">
			<button type="button">
				<span>Go back and save the village</span>
			</button>
		</a>
		<a href="/herb_run">
			<button type="button">
				<span>Head south alone</span>
			</button>
		</a>
		<a href="/herb_choice_I">
			<button type="button">
				<span>Kill some Dinos and become ruler!</span>
			</button>
		</a>
	</body>
</html>