<html>
	<head>
		<title>Herbivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="styles.css"></head>
	</head>
	<body style="background-image: url('choice_J.jpg'); background-size: cover;">
		<h1>You go south and you survive the mass extinction, and you meet a smaller dino that you mate with to try and keep your species alive and end up having tiny lizards that carry on your legacy</h1>
		<a href="/">Restart!</a>
	</body>
</html>