<html>
	<head>
		<title>Herbivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="stylesheets\styles.css"></head>
	</head>
	<body style="background-image: url('pics/angry_dinos.jpg'); background-size: cover;">
		<h1>After killing your first Dinosaur, people begin to hate you. Many Dinos want to get revenge on you and start to get aggressive. The T-Rex is especially mad at you because the Stegosaurus was one of his best friends. The T-Rex is extremely strong and deadly. Him and the other Dinos start to pick fights and say they will kill you if you dont leave. What do you do?</h1>
		<a href="/triceratops_death">
			<button type="button">
				<span>Head North</span>
			</button>
		</a>
		<a href="/triceratops_death">
			<button type="button">
				<span>Stay and Fight</span>
			</button>
		</a>
		<a href="/herb_run">
			<button type="button">
				<span>Go South alone</span>
			</button>
		</a>
	</body>
</html>