<html>
	<head>
		<title>Herbivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="styles.css"></head>
	</head>
	<body style="background-image: url('dino_winter_field.jpg'); background-size: cover;">
		<h1>You eat with the Stegosaurus and become best friends. As time passes, you notice the weather getting worse and worse, and your area does not have much food for you anymore. Stegosauruses are not very smart due to their small brain, and he does not know what to do. What will you do?!</h1>
		<a href="/herb_choice_E">
			<button type="button">
				<span>Look for help elsewhere</span>
			</button>
		</a>
		<a href="/death">
			<button type="button">
				<span>Go North</span>
			</button>
		</a>
		<a href="/herb_choice_H">
			<button type="button">
				<span>Run away by yourself!</span>
			</button>
		</a>
	</body>
</html>