<!doctype html>
<html>
	<head>
		<title>Dino Game Herbivore Eats</title>
		<link rel="stylesheet" href="stylesheets/style.css">
	</head>
	<h1>Dino Game Herbivore Eats</h1>
	<body>
		<canvas id="canvas" width="980px" height="620px" ></canvas>
		<canvas id ="objects" width="980px" height="620px"></canvas>
		<canvas id="rex" width="980px" height="620px" ></canvas>
		<canvas id="score" width="980px" height="620px" ></canvas>
		<script src="javascripts/game_eat.js"></script>
	</body>
</html>