<html>
	<head>
		<title>Herbivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="stylesheets\styles.css"></head>
	</head>
	<body style="background-image: url('pics/herb_choice_B_img.jpg'); background-size: cover;">
		<h1>Lets venture out into the world and meet the other dinosaurs.<br>You see a dino in the distance. He seems a little bigger than you and is eating some tasty looking plants. What do you do?</h1>
		<a href="/herb_choice_D">
			<button type="button">
				<span>Say hi to him</span>
			</button>
		</a>
		<a href="/herb_choice_E">
			<button type="button">
				<span>Steer clear of his path</span>
			</button>
		</a>
		<a href="/herb_choice_I">
			<button type="button">
				<span>Attack him!</span>
			</button>
		</a>
	</body>
</html>