<html>
	<head>
		<title>Herbivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="stylesheets\styles.css"></head>
	</head>
	<body style="background-image: url('pics/herb_choice_C_img.jpg'); background-size: cover;">
		<h1>After waking up, you feel very refreshed! You are very much able to walk around now! However, you feel very hungry, but you also want to say hi to all the other dinosaurs. What do you do?</h1>
		<a href="/herb_choice_E">
			<button type="button">
				<span>Look for Food on your own</span>
			</button>
		</a>
		<a href="/herb_choice_B">
			<button type="button">
				<span>Be social with other Dinos</span>
			</button>
		</a>
		<a href="/herb_death">
			<button type="button" onclick="death()">
				<span>Force your parents to get food for you</span>
			</button>
		</a>
	</body>
	<script>
	function death() {
		alert("Your parents did not like the way you spoke to them, so they kicked you out of the house. You did not even get any food to eat, so you starved to death.");
	}
	</script>
</html>