<html>
	<head>
		<title>Herbivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="styles.css"></head>
	</head>
	<body style="background-image: url('dino_field.jpg'); background-size: cover;">
		<h1>You come upon a place where there is a gigantic field filled with nothing but the most luxury food in all of Dino World! However, there is a herd of vicious Dinosaurs. What do you do?</h1>
		<a href="/herb_choice_G">
			<button type="button">
				<span>Attempt to join their group</span>
			</button>
		</a>
		<a href="/death">
			<button type="button">
				<span>Try to sneak some food for yourself</span>
			</button>
		</a>
		<a href="/herb_choice_H">
			<button type="button">
				<span>Run away!</span>
			</button>
		</a>
	</body>
</html>