<html>
	<head>
		<title>Herbivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="stylesheets\styles.css"></head>
	</head>
	<body style="background-image: url('pics/herb_choice_G_img.jpg'); background-size: cover;">
		<h1>To your suprise, these vicious Dinos love you! The leader of the herd is the Giganotosaurus, who is one of the most aggressive dinosaurs of them all. He is gigantic, weighs over 8 tons, and is a carnivore who has 3 fingered hands and sharp claws to slay his prey.<br>Everyone starts to notice now that the land is beginning to freeze over. All the Dinos are now in panic. What will you do with your newfound group?</h1>
		<a href="/herb_death">
			<button type="button">
				<span>Stick it out like a man</span>
			</button>
		</a>
		<a href="/herb_choice_H">
			<button type="button">
				<span>Run away by yourself!</span>
			</button>
		</a>
		<a href="/herb_run">
			<button type="button">
				<span>Lead your village to safety!</span>
			</button>
		</a>
	</body>
	<audio src = "music\dino_sound_main.mp3" preload = "auto" autoplay></audio>
</html>