<html>
	<head>
		<title>Herbivore Adventure</title>
		<link rel="stylesheet" type="text/css" href="stylesheets\styles.css"></head>
	</head>
	<body style="background-image: url('pics/stegosaurus.jpg'); background-size: cover;">
		<h1>The Stegosaurus, a Dino known for its unusual posture, spiky back, and is also a herbivore. He seems friendly and doesn’t want to harm you but instead offers you his plants. What do you do?</h1>
		<a href="/herb_eats">
			<button type="button">
				<span>Eat with him</span>
			</button>
		</a>
		<a href="/herb_choice_E">
			<button type="button">
				<span>Say no and go about your business</span>
			</button>
		</a>
		<a href="/herb_choice_I">
			<button type="button">
				<span>Kill him!</span>
			</button>
		</a>
	</body>
	<audio src = "music\dino_sound_main.mp3" preload = "auto" autoplay></audio>
</html>