<html>
  <head><link rel="stylesheet" type="text/css" href="index_styles.css"></head>
  <body style="background-image: url('homepage_background.jpg'); background-size: cover;">
    <h1>Welcome to the amazing Dino-Game!<br>Choose your Dinosaur!</h1>
    <!-- Excessive BR tags due to lack of knowledge of buttons :( -->
    <br><br>
    <a href="/herbivore">
      <button type="button">
        <span>Triceratops<br>(Herbivore)</span>
      </button>
    </a>
    <a href="/carnivore">
      <button type="button">
        <span>T-Rex<br>(Carnivore)</span>
      </button>
    </a>
    <br>
    <a href="#">
      <button type="button">
        <span>LOCKED!!!<br>(LOCKED)</span>
      </button>
    </a>
  </body>
</html>