<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets\styles.css">
</head>
<body style="text-align: center; background: #000000;">
</body>
<div style ="display:block; margin:100px auto 0px;">
	<video src = "vids/trexVSraptor.mp4" preload = "auto" autoplay></video>
</div>
<a href="/carn_choice_I">
	<button type="button">
		<span>Go to the next page</span>
	</button>
</a>
</html>