<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets\styles.css">
</head>
<body style="text-align: center; background: #000000;">
</body>
<div style ="display:block; margin:-110px auto 0px;">
	<video src = "vids/tricerotops_die.mp4" width="1100" height="700" preload = "auto" autoplay loop></video>
</div>
<a href="/herb_death">
	<button type="button">
		<span>Go to the next page</span>
	</button>
</a>
<audio src = "music\one winged angel.mp3" preload = "auto" autoplay></audio>
</html>